.todoContainer {
  width: 50%;
  margin: 5%;
  color: rgb(19, 13, 13);
  font-size: 20px;
}
.all_todos {
  display: flex;
  flex-direction: column;
}
.all_todos .todo {
  box-shadow: 1px 5px 14px 2px #0b0d0c;
  padding: 20px;
  margin: 5%;
  width: 80%;
}
.all_todos .todo:hover {
  transform: scale(1.1);
}
.all_todos .todo button {
  background: none;
  border: none;
  cursor: pointer;
  width: 20px;
}
.all_todos .todo button :hover {
  color: rgb(82, 64, 64);
}
.all_todos .todo .todo_top {
  display: flex;
  justify-content: space-between;
  padding: 0 4%;
}
.all_todos .todo .todo-bottom {
  display: flex;
  flex-direction: column;

  padding: 0 4%;
}
