.menu-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 1px 3px 10px #0a3d37;

  padding: 1.5rem 5rem;

  background: hsla(0, 4%, 95.1%, 0.377);
}
.logout_btn {
  background: none;
  outline: none;
  border: none;
  font-size: 18px;
  color: #7ac5c0;
  cursor: pointer;
}
.menu-container .add_btn,
.menu-container .rc-menu-button {
  width: 15%;
  min-width: 100px;
  cursor: pointer;
  outline: none;
  height: 40px;
  background: rgb(82, 64, 64);
  color: #7ac5c0;
  font-size: medium;
  border: 0.1px solid rgb(82, 64, 64);
  border-radius: 3px;
}
.rc-menu__item {
  background: rgb(82, 64, 64);
  color: #7ac5c0;
}
